<div class="col-lg-3">

    <h1 class="my-4">
        <%= name%>'s Shop</h1>
    <div class="list-group">
        <a href="/" class="list-group-item">food</a>
        <a href="/beverage" class="list-group-item">beverage</a>
        <a href="/dessert" class="list-group-item">dessert</a>
    </div>

</div>
<!-- /.col-lg-3 -->